@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Pacifico&display=swap");
@import url("./assets/styles/animation.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-color: rgb(238, 238, 238);
  --black-background: rgb(18, 18, 18);
  --header-background: rgba(18, 18, 18, 0.9);
  --primary-color: rgb(255, 59, 92);
  --hover-background: rgba(221, 221, 221, 0.5);
  --yellow-color: #f88630;
  --grey-background: #1b1b1b;
  --text-grey-color: rgb(154, 154, 154);
  --width-default: 1200px;
  --hover-slider: rgba(248, 134, 48, 0.2);
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: var(--yellow-color);
  border-radius: 50px;
  height: 100px;
}
body {
  color: var(--white-color);
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--black-background);
}
a {
  text-decoration: none;
  color: var(--white-color);
}
button {
  border: none;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input {
  outline: none;
  border: none;
  padding-left: 16px;
}

.nav-active {
  text-shadow: 0 0 4px var(--primary-color);
}

.swiper-home .swiper-pagination.swiper-pagination-clickable {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.swiper-pagination-bullet {
  width: 16px;
  height: 3.5px;
  background-color: var(--hover-background);
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50px;
}
.swiper-pagination-bullet:hover {
  background-color: var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
  width: 20px;
  box-shadow: 0 0 10px var(--primary-color);
}
