@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Pacifico&display=swap");
@import url("./assets/styles/animation.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-color: rgb(238, 238, 238);
  --black-background: rgb(18, 18, 18);
  --header-background: rgba(18, 18, 18, 0.9);
  --primary-color: rgb(255, 59, 92);
  --hover-background: rgba(221, 221, 221, 0.5);
  --yellow-color: #f88630;
  --grey-background: #1b1b1b;
  --text-grey-color: rgb(154, 154, 154);
  --width-default: 1200px;
  --hover-slider: rgba(248, 134, 48, 0.2);
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: var(--yellow-color);
  border-radius: 50px;
  height: 100px;
}
body {
  color: var(--white-color);
  font-family: "IBM Plex Sans", sans-serif;
  background-color: var(--black-background);
}
a {
  text-decoration: none;
  color: var(--white-color);
}
button {
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input {
  outline: none;
  padding-left: 16px;
}

.nav-active {
  text-shadow: 0 0 4px var(--primary-color);
}
.nav-active:hover {
  text-shadow: 0 0 4px var(--primary-color);
}
/* Swiper home */
.swiper-home .swiper-pagination.swiper-pagination-clickable {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.swiper-home .swiper-pagination-bullet {
  width: 16px;
  height: 3.5px;
  background-color: var(--hover-background);
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50px;
}
.swiper-home .swiper-pagination-bullet:hover {
  background-color: var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

.swiper-home .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
  width: 20px;
  box-shadow: 0 0 10px var(--primary-color);
}
/* Swiper Product */
.swiper-product .swiper-pagination.swiper-pagination-clickable {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  bottom: 16px;
  z-index: 1;
}
.swiper-product .swiper-pagination-bullet {
  width: 16px;
  height: 3.5px;
  background-color: var(--hover-background);
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50px;
}
.swiper-product .swiper-pagination-bullet:hover {
  background-color: var(--primary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

.swiper-product .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
  width: 20px;
  box-shadow: 0 0 10px var(--primary-color);
}
/* Custom Range */
.process {
  right: 0%;
  left: 0%;
}
.range-custom {
  position: absolute;
  pointer-events: none;
  top: -11px;
  left: 0;
  border-radius: 50px;
  padding-left: 0;
  width: 100%;
  -webkit-appearance: none;
  height: 25px;
  background: none;
}
.range-custom::-webkit-slider-thumb {
  pointer-events: auto;
  border-radius: 50px;
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--yellow-color);
  cursor: pointer;
}
/* Title store */
.title-store {
  text-shadow: 0 0 1px #000000, 0 0 2px #666;
}
.dashboard__container .ant-page-header {
  padding: 0;
}
.button-collapsed {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  border-top: 1px solid #dddddd;
}
.dashboard__container .ant-page-header-heading {
  padding-block-start: 0 !important;
}
.table__data .ant-page-header {
  padding: 0 12px;
}
.ant-popconfirm-buttons button:last-child {
  background-color: #f88630;
}